$colorNavFooterBackground: #000000;
$colorHomeItemText:#57A4A4;
$colorNavBackground: #F5F5F5;
$colorNavHoverItemBackground: #E5E5E5;
$colorTitlesFont:#4E4E4E;
$colorSectionActivity:#7C7C7C;
$colorSectionDescription:#5C5C5C;
$colorShotBackground:#F7F7F7;
$colorFooterTitle: #FEFEFE;
$colorFooterText:#B9B9B9;