.card {

  &-container {
    width: 280px;
    border: 2px solid #9dd991;
    margin: 5px;
    position: relative;
    border-radius: 5%;
  }

  &-text_container {
    background-color: #C2F3B7;
    border-radius: 10px;
    margin: 0 2px;
  }

  &-img {
    padding: 3px;
    width: 200px;
    height: 200px;
    object-fit: scale-down;
  }


  &-id {
    font-size: 12px;
    font-weight: normal;
    text-align: end;
    margin: 0;
    padding-right: 10px;
  }

  &-name {
    padding: 10px 5px;
    margin: 0;
  }

  &-price {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;

  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}