.hidden {
  display: none;
  opacity: 0;
  transition: opacity .4s;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  //transition: opacity .4s;


  &-wrapper {
    background-color: #bcedb2;
    border: 1px solid black;
    width: fit-content;
    margin: 10% auto;
    font-size: 16px;
  }

  &-header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #9dd991;
  }

  &-title {
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
  }

  &-body {
    padding: 0 15px;
    white-space: pre-line;


  }

  &-footer {
    padding: 0 5px;
  }
}