.form {
display: block;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding: 24px;
  margin-top: 10px;
  width: 400px;
  border: solid 1px darkgrey;
  border-radius: 24px;
  text-align: start;
  background-color: #EEEEEE;
}
.input {
  line-height: 1.5em;
  border-radius: 4px;
  border:  solid 1px darkgrey;
  padding: 4px 6px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 12px;
}
