@import "src/scss/variables/colors";
@import "src/scss/mixins";


.footer {
  @include container320px;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 47px;
  width: 300px;

  &__wrapper {
    background-color: $colorNavFooterBackground;
  }

  &__title {
    @include title;
    color: $colorFooterTitle;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__description {
    color: $colorFooterText;
    font-size: 12px;
    line-height: 20px;

    &--full {
      display: none;
    }
  }

  &__contacts {
    color: $colorFooterText;
    font-size: 14px;
    line-height: 24px;
  }

  &__icons {
    margin-top: 26px;
    margin-bottom: 26px;
    vertical-align: center;
  }
}

.icon {
  margin-right: 5px;
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 2px solid #BF6F23;
  border-radius: 25px;
  color: #BF6F23;
  text-align: center;
  line-height: 34px;

  &.fb__icon {
    color: #2C457A;
    border: 2px solid #2C457A;
  }

  &.twitter__icon {
    color: #3588AF;
    border: 2px solid #3588AF;
  }

  &.dribbble__icon {
    color: #A75E88;
    border: 2px solid #A75E88;
  }

  &.pinterest__icon {
    color: #9D1922;
    border: 2px solid #9D1922;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    @include container768px;
    padding-top: 57px;
    padding-bottom: 56px;

    &__title {
      font-size: 22px;
      margin-bottom: 22px;
    }

    &__description {
      width: 684px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 28px;

      &--full {
        display: inline;
      }
    }

    &__icons {
      margin-top: 37px;
      margin-bottom: 34px;
    }

    &__contacts {
      font-size: 16px;
      line-height: 26px;
      display: inline;

    }
  }
}

;

@media screen and (min-width: 1200px) {
  .footer {
    @include container1200px;
    padding-top: 66px;
    padding-bottom: 70px;
  }
};