@import "src/scss/variables/colors";
@import "src/scss/mixins";

.header {
  @include container320px;
  &__img {
    width: 320px;
    height: 150px;
    margin-top: 23px;
    margin-bottom: 38px;
  }
};

@media screen and (min-width: 768px) {
  .header {
    @include container768px;
    margin-bottom: 56px;
    &__img {
      margin: 0 auto;
      width: 768px;
      height: 361px;
    }
  }
};

@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 66px;
    @include container1200px;
    &__img{
      margin: 0 auto;
      width: 1170px;
      height: 550px;
    }
  }
};
