@import "src/scss/variables/colors";
@import "src/scss/mixins";

.main {
  @include container320px;

  &__title {
    @include title;
    margin-bottom: 23px;
  }
}

.section {
  &:last-child {
    display: none;
  }

  &__wrapper {
    @include linkDecorationRemove
  }

  &__img {
    width: 160px;
    height: 140px;
    margin-bottom: 11px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $colorTitlesFont;
  }

  &__activity {
    font-size: 12px;
    line-height: 20px;
    color: $colorSectionActivity;
    margin-bottom: 28px;
  }

  &__description {
    display: none;
    font-size: 14px;
    line-height: 26px;
    color: $colorSectionDescription;
  }
}

@media screen and (min-width: 768px) {
  .main {
    @include container768px;

  }
  &__title {
    font-size: 16px;
  }
  .section {
    &:last-child {
      display: block;
    }

    &__wrapper {
      display: flex;
    }

    &__img {
      margin-right: 21px;
      margin-bottom: 35px;
      &:last-child{
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 16px;
    }

    &__activity {
      font-size: 12px;
      margin-bottom: 13px;
    }

    &__description {
      display: block;
    }
  }
}

;

@media screen and (min-width: 1200px) {
  .main {
    @include container1200px;

    &__sections {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows:1fr 1fr;
      column-gap: 25px;
    }
  }
};