@import "src/scss/variables/colors";
@import "src/scss/mixins";

.hidden {
  display: none;
}

.nav {
  @include container320px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 23px;


  &__btn {
    background-color: $colorNavFooterBackground;
    width: 44px;
    height: 37px;
    color: white;
    text-align: center;
    vertical-align: center;
    font-size: 22px;
    border: none;
    outline: none;
  }

  &__list {
    position: absolute;
    width: 182px;
    top: 100%;
    background-color: $colorNavBackground;
  }

  &__item {
    &:first-child {
      .nav__link {
        color: $colorHomeItemText;
      }
    }

    &:hover {
      background-color: $colorNavHoverItemBackground;
    }
  }

  &__link {
    @include linkDecorationRemove;
    padding-left: 13px;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
    color: $colorTitlesFont;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    @include container768px;
    margin-top: 41px;
    margin-bottom: 43px;

    &__btn {
      display: none;
    }

    &__list {
      display: flex;
      position: static;
      justify-content: center;
      background-color: transparent;
      width: 100%;
    }

    &__item {
      margin-right: 34px;

      &:last-child {
        margin-right: 0;
      }
    }
    &__link{
      padding-left: 0;
    }
  }
}

;


@media screen and (min-width: 1200px) {
  .nav {
    @include container1200px;
    margin-top: 45px;
    margin-bottom: 51px;
  }
  &__item {
    margin-right: 68px;

    &:last-child {
      margin-right: 0;
    }
  }
}

;