@import "src/scss/variables/colors";
@import "src/scss/mixins";


.shot {
  padding-top: 77px;
  @include container320px;

  &__title {
    @include title;
    margin-bottom: 13px;
  }

  &__link {
    @include linkDecorationRemove;
    display: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $colorTitlesFont;
  }

  &__container {
    padding-bottom: 42px;
  }

  &__img {
    width: 301px;
    height: 301px;

    &:nth-last-child(-n+3) {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .shot {
    @include container768px;
    padding-top: 47px;
    padding-bottom: 50px;

    &__wrapper {
      background-color: $colorShotBackground;
    }

    &__info {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 35px;
    }

    &__link {
      display: block;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 9px;
      padding-bottom: 0;
    }

    &__img {
      width: 249px;
      height: 249px;

      &:nth-last-child(-n+3) {
        display: block;
      }

      &:nth-last-child(-n+1) {
        display: none;
      }
    }
  }
}

;

@media screen and (min-width: 1200px) {
  .shot {
    @include container1200px;

    &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 10px;
    }
    &__title {
      margin-bottom: 24px;
    }
    &__img {
      width: 285px;
      height: 285px;

      &:nth-last-child(-n+1) {
        display: block;
      }
    }
  }
}

;