@mixin container320px {
  width: 320px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
@mixin container768px {
  width: 768px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
@mixin container1200px {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
@mixin title{
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: $colorTitlesFont;
}

@mixin linkDecorationRemove{
  text-decoration: none;
  list-style: none;
}