.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-container {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;

  li {
    list-style: none;
    padding: 7px;
    margin-right: 55px;
  }

  li:last-child {
    margin-right: 0;
  }



  a {
    text-decoration: none;
    color: black;

  }
  .selected {
    color: green;
    font-size: 28px;
  }
}

