.btn {
  border: 1px solid black;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn-main {
  margin: 50px;
  font-weight: bold;
  padding: 5px 10px;
}

.btn-modal {
  margin: 10px 20px;
  background-color: #eaffe6;
  padding: 5px 10px;
}

.btn-close {
  font-size: 22px;
  align-self: center;
  border: none;
  background-color: inherit;
}

.btn-favorite{
  margin: 10px 20px;
  padding: 5px 10px;
}

.card-button {
  margin: 10px 20px;
  padding: 5px 10px;
}


