.btn {
  border: 1px solid black;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #F7D25E;
}

.btn-main {
  margin: 50px;
  font-weight: bold;
  padding: 5px 10px;
}

.btn-modal {
  margin: 10px 20px;
  background-color: #eaffe6;
  padding: 5px 10px;
}

.btn-close {
  font-size: 22px;
  align-self: center;
  border: none;
  background-color: inherit;
}

.btn-favourite{
  background-color: inherit;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 30px;
  color: #fcc10a;
}

.card-button {
  margin: 10px 0;
  padding: 5px 10px;
}

.submit-btn {
  margin-left: 80%;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #9dd991;
}
