.card {

  &-container {
    width: 280px;
    border: 2px solid #9dd991;
    margin: 5px;

  }

  &-text_container {
    padding: 5px 0;
    background-color: #9dd991;

  }

  &-img {
    padding: 3px;
    width: 200px;
    height: 200px;
    object-fit: scale-down;
  }


  &-id {
    font-size: 12px;
    font-weight: normal;
  }

  &-price {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;

  }
}